.current-research li {
  text-align: left;
}

.current-research li:not(:last-child) {
  margin-bottom: 3rem;
}

.current-research .authors {
  display: inline;
  font-style: italic;
}

.current-research .authors::after {
  content: "|";
  opacity: 0.5;
  margin: 0.25em;
}

.current-research li .title {
  display: inline;
}

.current-research .details {
  margin-top: 0.5rem;
  color: var(--color-text-75);
}

.current-research .badge {
  float: right;
  background-color: rgb(255, 237, 203);
  color: rgb(94, 61, 0);
  padding: 0 1rem;
  border-radius: 0.3rem;
}
